.App {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

.content {
    max-width: 60rem;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-row-gap: 1rem;
    background-color: rgb(28 34 48 / 50%);
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    grid-template-areas:
        'q_sex sex'
        'q_birth birth'
        'q_time time'
        'btn btn';
}

.q_sex {
    grid-area: q_sex;
}
.q_birth {
    grid-area: q_birth;
}
.q_time {
    grid-area: q_time;
}
.sex {
    grid-area: sex;   
    display: flex; 
}
.woman {
    margin-right: 1rem;
}
.sex > div > input[type=radio] {
    margin-right: 0.3rem;
}
.ymd > select:nth-child(2),
.ymd > select:nth-child(3) {
    margin-left: 0.5rem;
}
Button {
    grid-area: btn;        
}


/* select date */
